# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging directories
dist/
build/
*.egg-info/

# Virtual environment directories
venv/
env/
.venv/

# IDE specific files (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Log files
*.log

# Environment variable files
.env
.env.local
.env.*.local

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Other temporary files
*.swp
*.bak
*.tmp

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

usr/